<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641637454283-q0er57n4mkeeqoss74b64ndmrufrrhga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641637454283-q0er57n4mkeeqoss74b64ndmrufrrhga</string>
	<key>API_KEY</key>
	<string>AIzaSyDkQezKnxmNEk0nnUm5EcCzWs3fxNqEeW0</string>
	<key>GCM_SENDER_ID</key>
	<string>641637454283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AykutAtabay.TwitterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twitterswiftui-be801</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterswiftui-be801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:641637454283:ios:dea1a302b43c9f2ba8264e</string>
</dict>
</plist>
